* {
  margin: 0px;
  box-sizing: border-box;
}

a { 
  color: black;
  text-decoration: none;
}

.App { 
  margin: auto;
  max-width: 480px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  padding: 0px 10px;
  position: relative;
  z-index: 10;
}

nav .logo {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

nav .nav_menus span{ 
  margin-right: 13px;
  color: rgb(65, 65, 65);
}

nav .hamburger_area{ 
  height: 15px;
}


nav .hamburger { 
  height: 100%;
  width: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

nav .burger-bar { 
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 0.5em;
}


nav .menu { 
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color:#ebdbdb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}


nav .cart_area{ 
  display: flex;
  margin-top: 80px;
}

nav .cart_area span {
  margin-right: 20px;
  cursor: pointer;
}

nav .cart_area span:hover{
  color: gray;
}

nav .category_area { 
  margin-top: 50px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

nav .category_area li {
  margin-top: 10px;
  cursor: pointer;
}

nav .category_area li:hover{
  color: gray;
}



/* sliding menu */
nav .hidden { 
 visibility: hidden;
}

nav .visible { 
  visibility: inherit;
}

/* clicked */
nav .burger-bar.clicked:nth-child(1) { 
  transform: rotate(45deg) translate(0.3em, 0.1em);
  transition: ease-out 0.3s;
}
nav .burger-bar.clicked:nth-child(2) { 
  transform: scale(0.1);
  transition: ease-out 0.1s;
}
nav .burger-bar.clicked:nth-child(3) { 
  transform: rotate(135deg) translate(-0.5em, 0.3em);
  transition: ease-out 0.3s;
}

/* unClicked */
nav .burger-bar.unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}






/* ----------- 홈화면 ----------- */
main { 
  padding: 0px 10px;
}


.Home .main-bg { 
  margin-bottom: 20px;
}

.Home .main-bg img {
  width: 100%;
}


.Home .card_container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.Home .Card{ 
  width: 49%;
  margin-bottom: 20px;
}


/* ----------- 상품 카드 ----------- */
.Card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.Card h5 { 
  margin-top: 10px;
}

.Card p { 
  margin-top: 5px;
  font-size: 13px;
}


/* ----------- 상품 디테일 ----------- */
.Detail {
  margin-top: 10px;
  margin-bottom: 20px;
}

.Detail .detail_wrap { 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Detail .detail_img { 
  width: 100%;
  text-align: center;
}

.Detail img { 
  width: 80%;
}

.Detail .detail_info{
  width: 80%;
  display: flex;
  flex-direction: column;
}


.Detail .info_area {
  display: flex;
  flex-direction: column;
}
.Detail .info_area span { 
  margin-top: 10px;
  padding: 10px;
}
.Detail .info_area > span:nth-child(1) { 
  font-weight: bold;
  font-size: 20px;
}
.Detail .info_area > span:nth-child(2) { 
  font-weight: 500;
}

.Detail .info_area > span:nth-child(3) {
  font-size: 13px;
  color: gray;
}

.Detail .opt_area { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Detail .opt_area span { 
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Detail .opt_color_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail .opt_color_wrap .opt_colors {
  display: flex;
  margin-bottom: 5px;
}

.Detail .opt_color_wrap .opt_color_name {
   margin-top: 5px;
   color: gray;
}

.Detail .opt { 
  width: 30px;
  height: 30px;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Detail .opt:hover{ 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.Detail .opt_gold{ 
  background-color: #FDDC5C;
}

.Detail .opt_white_gold{ 
  background-color: #FFFAF1;
}

.Detail .opt_rose_gold{ 
  background-color: #E7B1A5;
}
.Detail .opt_silver{ 
  background-color: #C0C0C0;
}

/* 색상 선택 */
.Detail .selected { 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Detail .opt_quantity {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detail .opt_quantity span{ 
  display: flex;
  margin: 0 10px;
}

.Detail .opt_quantity button { 
  border: none;
  border-radius: 5px;
  background-color: rgba(207, 207, 207, 0.699);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Detail .opt_quantity button:hover{ 
  background-color: rgb(207, 207, 207);
}

.Detail .order_area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Detail .order_area > button {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
 
.Detail .detail_tab { 
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
  border-bottom: 1px solid black;
}

.Detail .detail_tab div { 
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 13px;
}

.Detail .detail_tab_detail { 
  background-color: black;
  color: white;
}



/* ---------- 카트 ---------- */
.Cart { 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.CartItem { 
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding-bottom: 10px;
  width: 80%;
  margin-top: 20px;

}

.CartItem .cart_img { 
  width: 20%;
}

.CartItem .cart_img img{
  width: 100%;
}

.CartItem .cart_info { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.CartItem .cart_info h4 { 
  margin-bottom: 10px;
}

.CartItem .cart_info span { 
  margin-bottom: 10px;
}

.CartItem .cart_info_opts {
  display: flex;
}

.CartItem .cart_info_opts div { 
  width: 20px;
  height: 20px;
  margin-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.CartItem .cart_info_opts .gold{ 
  background-color: #FDDC5C;
}

.CartItem .cart_info_opts .white_gold{ 
  background-color: #FFFAF1;
}

.CartItem .cart_info_opts .rose_gold{ 
  background-color: #E7B1A5;
}
.CartItem .cart_info_opts .silver{ 
  background-color: #C0C0C0;
}

.CartItem .cart_info_quantity button { 
  border: none;
  border-radius: 5px;
  height: 20px;
  cursor: pointer;
}

.CartItem .cart_info_quantity span{ 
  margin: 0 10px;
}

.CartItem .cart_info_price { 
  color: rgb(84, 84, 84);
  font-size: 14px;
  text-align: end;
}



/* 최근 본 상품 */
.RecentlyViewd { 
  margin-top: 20px;
}

.RecentlyViewd li { 
  list-style: none;
  padding: 10px 0px;
}

.RecentlyViewd .viewedItem { 
  display: flex;
  border-bottom: 1px solid rgb(199, 199, 199);
}


.RecentlyViewd .viewedItem img { 
  width: 80px;
  cursor: pointer;
}

.RecentlyViewd .viewedItem > div:last-child{ 
  padding: 0px 10px;
}

.RecentlyViewd .viewedItem > div:last-child h4{
  margin-bottom: 10px;
}