* {
  margin: 0px;
  box-sizing: border-box;
}

a { 
  color: black;
  text-decoration: none;
}

.App { 
  margin: auto;
  max-width: 480px;
}

nav {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 10px;
}

nav .logo {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

nav .nav_menus span{ 
  margin-right: 13px;
  color: rgb(65, 65, 65);
}

main { 
  padding: 0px 10px;
}



/* 홈화면 */
.Home .main-bg { 
  margin-bottom: 20px;
}

.Home .main-bg img {
  width: 100%;
}


.Home .card_container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.Home .Card{ 
  width: 49%;
  margin-bottom: 20px;
}


/* 상품 카드  */
.Card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.Card h5 { 
  margin-top: 10px;
}

.Card p { 
  margin-top: 5px;
  font-size: 13px;
}


/* 상품 디테일 */
.Detail {
  margin-top: 10px;
  margin-bottom: 20px;
}

.Detail .detail_wrap { 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Detail .detail_img { 
  width: 100%;
  text-align: center;
}

.Detail img { 
  width: 80%;
}

.Detail .detail_info{
  width: 80%;
  display: flex;
  flex-direction: column;
}


.Detail .info_area {
  display: flex;
  flex-direction: column;
}
.Detail .info_area span { 
  margin-top: 10px;
  padding: 10px;
}
.Detail .info_area > span:nth-child(1) { 
  font-weight: bold;
  font-size: 20px;
}
.Detail .info_area > span:nth-child(2) { 
  font-weight: 500;
}

.Detail .info_area > span:nth-child(3) {
  font-size: 13px;
  color: gray;
}

.Detail .opt_area { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Detail .opt_area span { 
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Detail .opt_colors {
  display: flex;
}

.Detail .opt { 
  width: 30px;
  height: 30px;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Detail .opt_gold{ 
  background-color: #FDDC5C;
}

.Detail .opt_white_gold{ 
  background-color: #FFFAF1;
}

.Detail .opt_rose_gold{ 
  background-color: #E7B1A5;
}
.Detail .opt_silver{ 
  background-color: #C0C0C0;
}

.Detail .opt_quantity {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detail .opt_quantity span{ 
  display: flex;
  margin: 0 10px;
}

.Detail .opt_quantity button { 
  border: none;
  border-radius: 5px;
  background-color: rgba(207, 207, 207, 0.699);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Detail .order_area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Detail .order_area > button {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
 


.Event { 
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
