* {
  margin: 0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

a { 
  text-decoration: none;
}

.App { 
  margin: auto;
}

@media (min-width:1320px) {
  .App {
    width: 1320px;
  }
}

@media (max-width:650px) {
  .App {
    width: 90vw;
  }
}

.main-bg { 
  margin-bottom: 20px;
}

.main-bg img {
  width: 100%;
  
}

/* 상품 카드  */
.product_card { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_card h6 { 
  margin-top: 10px;
}